<%= form_for student do |f|%>
    <%= show_errors_for(student)%>
    
    <div>
        <%= f.label :name, "Name:" %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :grad_year, "Graduation year:" %>
        <%= f.text_field :grad_year %>
    </div>

    <%= f.submit %>
<% end %>