<%= form_for student do |f|%>
    <%= show_errors_for(student)%>
    
    <div>
        <%= f.label :first_name, "First name:" %>
        <%= f.text_field :first_name %>
    </div>

    <div>
        <%= f.label :last_name, "Last name:" %>
        <%= f.text_field :last_name %>
    </div>

    <div>
        <%= f.label :grad_year, "Graduation year:" %>
        <%= f.text_field :grad_year %>
    </div>

    <%= f.submit %>
<% end %>