<h1><%= @test_type.name %></h1>

<%= form_tag(test_type_path, method: 'get') do %>
    <label for="rank">Filter Scores</label>
    <select name="rank">
        <option <%= 'selected' if params[:rank] == '' %> value="">None</option>
        <option <%= 'selected' if params[:rank] == 'top_scores' %> value="top_scores">Top Scores</option>
    </select>
    <%= submit_tag 'Filter'%>
<% end %>

<% @performance_tests.each do |performance_test|%>
    <p><%= link_to performance_test.student.name, student_performance_test_path(performance_test.student, performance_test) %>: <%= performance_test.result %></p>
<% end %>

<%= button_to "Edit Test Type", { action: "edit"}, method: :get %>
