<h1>Performance Test Details</h1>

<p>Student: <%= @performance_test.student.name %></p>
<p>Test: <%= test_name(@performance_test)%></p>
<p>Result: <%= @performance_test.result %></p>
<p>Date: <%= @performance_test.date_taken.strftime('%b %d, %Y') %></p>

<% if @performance_test.notes %>
    <p><%= @performance_test.notes %></p>
<% end %>

<%= button_to "Edit Performance Test", { action: "edit"}, method: :get %>
<%= button_to "Delete Performance Test", { action: "destroy"}, method: :delete, data: { confirm: "Are you sure?"} %>
