<h1><%= @student.name %>: <%= @performance_test.test_name %></h1>

<p>Result: <%= add_units(@performance_test) %></p>
<p>Date: <%= formatted_time(@performance_test) %></p>
<p>Coach: <%= @performance_test.user.full_name %></p>

<% if @performance_test.notes.present? %>
    <p>Notes: <%= @performance_test.notes %></p>
<% end %>

<div class="button1">
    <%= button_to "Edit Test", { action: "edit"}, method: :get, form: {style: 'display:inline-block;'} %>
    <%= button_to "Delete Test", { action: "destroy"}, method: :delete, data: { confirm: "Are you sure?"}, form: {style: 'display:inline-block;'} %>
</div>

<p><%= link_to "#{@student.name}'s Performance Tests", student_performance_tests_path(@student)%></p>

<div class="button1">
    <%= button_to "Add Performance Test", { action: "new"}, method: :get %>
</div>